<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8550HM791KtsuCFzdAYZ27bmGdOs8sSI</string>
	<key>GCM_SENDER_ID</key>
	<string>539867176389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.push.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>noticefication-5db0f</string>
	<key>STORAGE_BUCKET</key>
	<string>noticefication-5db0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539867176389:ios:5b8aac0d3264efff11bfac</string>
	<key>DATABASE_URL</key>
	<string>https://noticefication-5db0f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>